<!DOCTYPE html>
<html>
<head>
  <title>BeltExam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:lender_id] || session[:borrower_id] %>
	<a href="/sessions" data-method="delete" data-confirm="Are you sure?">Logout</a>
<% end %>

<%= yield %>

</body>
</html>
